@using Filer.DAL.DbModels;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="reg-form">
    <h1>Смена пароля</h1>
    <form method="post">
        <div class="reg-row">
            <div asp-validation-summary="All"></div>
            <input name="passwordOld" type="password" placeholder="Введите текущий пароль" />
        </div>
        <div class="reg-row">
            <input name ="passwordNew" type="password" placeholder="Введите новый пароль" />
        </div>
        <div class="reg-row">
            <input name="passwordConfirm" type="password" placeholder="Повторите новый пароль" />
        </div>
        <button type="submit">Сменить пароль</button>
    </form>

</div>